


:root{
    
  --primary:#ffffff;
  --secondary:#172A4E;
  
  --accent-1:#A24366;
  --accent-2:#639fab;
  --accent-3:#bbcde5;
  --unit-rem:2.5rem;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;

}

.container-home{
  display: grid;
  grid-gap:10px;
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows: minmax(200px,auto);
  grid-template-areas: 
  "header-home header-home header-home header-home header-home"
  "header-home header-home header-home header-home header-home"
  "aside-home aside-home main-home main-home main-home"
  "aside-home aside-home main-home main-home main-home"
  "aside-home aside-home main-home main-home main-home"
  "footer-home footer-home footer-home footer-home footer-home";
  
  /* background: #3e5053; */
}

.trips{
  display: grid;
  grid-gap:10px;
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows: minmax(200px,auto);
  grid-template-areas: "trip-header trip-header trip-header trip-header trip-header"
         "trip-header trip-header trip-header trip-header trip-header"
            "trip-main trip-main trip-main trip-main trip-main "
            "trip-main trip-main trip-main trip-main trip-main"
            "trip-main trip-main trip-main trip-main trip-main"
            "trip-main trip-main trip-main trip-main trip-main"
            ". . . . ."
            "trip-footer trip-footer trip-footer trip-footer trip-footer"
}

.about{
  display: grid;
  grid-gap:10px;
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows: minmax(200px,auto);
  grid-template-areas:
   "about-header about-header about-header about-header about-header"
   "about-header about-header about-header about-header about-header"
   "about-main about-main  about-main  about-main  about-main "
   "about-main about-main  about-main  about-main  about-main "
   "about-main about-main  about-main  about-main  about-main "
   "about-footer about-footer  about-footer  about-footer  about-footer "
}

.user_form{
  display: grid;
  grid-gap:10px;
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows: minmax(200px,auto);
  grid-template-areas:
   "form-header form-header form-header form-header form-header"
   "form-header form-header form-header form-header form-header"
   "form-main form-main  form-main form-main form-main "
   "form-main form-main  form-main form-main form-main "
   "form-main form-main  form-main form-main form-main "
   "form-main form-main  form-main form-main form-main "
   "form-main form-main  form-main form-main form-main "
   "form-footer form-footer form-footer form-footer form-footer";

}

.user_form header{
  grid-area:form-header;
  display: flex;
  justify-content:space-between;
  background: url('../homepict.jpg') no-repeat;
  background-size: cover;
  position: relative; 
  padding: 10px;
}
.about header{
  grid-area:about-header;
  display: flex;
  justify-content:space-between;
  background: url('../homepict.jpg') no-repeat;
  background-size: cover;
  position: relative; 
  padding: 10px;
}
.container-home header{
  grid-area: header-home;
  display: flex;
  justify-content:space-between;
  background: url('../homepict.jpg') no-repeat;
  background-size: cover;
  position: relative; 
  padding: 10px;
  /* height: 100vh; */
}
 
.container-home,.trips,.about,.user_form{
  height: 80px;
  width: 100%;
}
.container-home,.trips ,.about,.user_form > *{
  padding: 30px;
  /* background: #eaf0f1; */
}

.container-home main{
  grid-area: main-home;
  color: #172A4E;

}

 .container-home h2{
  margin-right:130px;
} 
.container-home p{
  text-align: justify;
}
.container-home main,aside{
  border-top: 5px solid var(--accent-1);
  padding-top: 20px;
}
.container-home footer{
  grid-area: footer-home;
  margin-top: 20px;
  border-top: 5px solid var(--accent-1);
}

.user_form main{
  grid-area: form-main;
  color: var(--secondary);
  border-top: 5px solid var(--accent-1);
  padding-top: 20px;
}

.user_form footer{
  grid-area: form-footer;
  margin-top: 20px;
  border-top: 5px solid var(--accent-1);
}
.trips header{
  grid-area: trip-header;
  display: flex;
  justify-content:space-between;
  background: url('../homepict.jpg') no-repeat;
  background-size: cover;
  position: relative; 
  padding: 10px;
}
.trips main{
  grid-area: trip-main;
  border-top: 5px solid var(--accent-1);
  padding-top: 20px;

}
.trips footer{
  grid-area: trip-footer;
  margin-top: 20px;
  border-top: 5px solid var(--accent-1);
}
.about main{
  grid-area:about-main ;
  border-top: 5px solid var(--accent-1);
  padding-top: 20px;

}
.about footer{
  grid-area:about-footer ;
  margin-top: 20px;
  border-top: 5px solid var(--accent-1);
}
.container-home footer,.trips footer,.about footer,.user_form footer{
  height: 50px;
  text-align: center;
}
.container-home header img,.trips header img,.about header img,.user_form header img{
  width: 50px;
  height: 50px;
}
.container-home header h1,.trips header h1,.about header h1,.user_form header h1{
  /* margin:0 auto; */
  color:var(--primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  letter-spacing: 5px;
  font-weight:900;
  font-size:2.1rem;
  border: 2px solid var(--accent-3);
  padding: 10px 50px;
  text-align: center;
  
}

.navbarpic{
  margin:20px auto;
  max-width: 960px;
  display: block;
  grid-template-columns:repeat(5,1fr) ;
  grid-auto-rows: minmax(100px,auto); 
}
.navbarpic img{
width: 150px;
height: 150px;
object-fit: cover;
margin-top: 10px;
}


figcaption{
  color:var(--accent-2);
  font-weight:bolder;
}

aside{
  grid-area: aside-home;
  
}

.container-home nav{
  grid-area: nav;
}
.container-home nav ul li,.trips nav ul li,.about nav ul li,.user_form nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.container-home nav ul li a,.trips nav ul li a,.about nav ul li a,.user_form nav ul li a{
  text-decoration: none;
  color:var(--primary);
  font-size: 20px;
  padding: 5px;
}

.container-home ul li a.active,
.container-home nav ul li a:hover{
  background:var(--accent-1) ;
  border-radius: 3px;
}

.trips ul li a.active,
.trips nav ul li a:hover{
  background:var(--accent-1);
  border-radius: 3px;
}

.about  ul li a.active,
.about nav ul li a:hover{
  background:var(--accent-1);
  border-radius: 3px;
}

.user_form ul li a.active,
.user_form nav ul li a:hover{
  background:var(--accent-1);
  border-radius: 3px;
}

.sociallinks{
  margin:0 auto;

}

.sociallinks li{
  list-style-type: none;
}

.trips main nav {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  flex-wrap: wrap;
  
}

.trips main nav figure img{
  width:300px;
  height: 350px;
  object-fit: cover;
  border: 2px solid var(--secondary);
  margin-right: 3px;
}
.trips main nav figure figcaption{
  margin-bottom: 20px;
}

.trips main h2{
  text-align: center;
  margin-top: 30px;
}
.trips main p{
  text-justify: newspaper;
  margin: 10px 0;

}
 

.about .caption{
  margin:0 auto;
  max-width: 960px;
   display: grid;
  grid-template-columns:repeat(5,1fr) ;
  grid-auto-rows: minmax(100px,auto); 
}
.about .caption img{
width: 150px;
height: 150px;
object-fit: cover;
}

.about .history{
  display:flex;
  justify-content: space-around;
  margin-right:5px;
}

.about h2{
  text-align: center;
}

.about section h2{
  margin-top:var(--unit-rem);
  margin-bottom: 1.9rem;
}

.about section figcaption{
  margin-left:var(--unit-rem);

}

.about footer{
  margin-top: 180px;
} 
.about .sociallinks{
  margin-top: 10px;

}
.about .sociallinks a{
  text-decoration: none;
}
  
.container-home footer p{
  text-align: center;
}

  form {
    width: 650px;
    margin: 20px auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;

  }

  fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
  }

  legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
  }

  label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
  }

  label {
    text-align: right;
    padding-right: 1rem;
  }

  input, select, textarea {
    padding: 0;
    font-size: 1.1rem;
  }

  input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
  }

  input[type="radio"]{
    display: inline-block;
  }
  button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
  }
  
  button:hover {
    background-color: darkgreen;
  }

  footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
  }
  main h1,h2,p{
    text-align: center;
  }

  

  .map{
    text-align: center;
    margin: 20px 0;
  }
  .form-item {
    display: grid;
    align-items: center;
  }

  .column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
  }

  .column2 {
    grid-template-columns: 1fr 2fr;
  }
